<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://wallpaperaccess.com/full/1561985.jpg');
    background-size: auto;
    
  "
>
<div class="register-card"><img class="profile-img-card" src="../assets/img/logo14.png" />
  <p class="profile-name-card"></p>
  <h1 style="text-align: center;">BookTicket</h1>
  <form [formGroup]="form" (ngSubmit)="submit()"  class="form-signup"><span class="reauth-email"></span>
      <div class="row">
          <div class="col-md-6 form-group">
              <input #Email formControlName="seatnum" type="number" class="form-control input_userid" id="seatnum" required placeholder="seatnum" />
              <div *ngIf="f['seatnum'].touched && f['seatnum'].invalid" class="alert alert-danger my-2">
                  <div *ngIf="f['seatnum'].errors && f['seatnum'].errors['required']">seatnum is required.</div>
              </div>
          </div>
          <div class="col-md-6 form-group">
              <input #Email formControlName="movieId" type="number" class="form-control input_itemid" id="movieId" required placeholder="movieId" />
              <div *ngIf="f['movieId'].touched && f['movieId'].invalid" class="alert alert-danger">
                  <div *ngIf="f['movieId'].errors && f['movieId'].errors['required']">MovieId is required.</div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 form-group">
              <input #Email formControlName="userid" type="text" class="form-control input_userid" id="userid" required placeholder="userid" />
              <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger my-2">
                  <div *ngIf="f['userid'].errors && f['userid'].errors['required']">UserID is required.</div>
              </div>
          </div>
          <div class="col-md-6 form-group">
              <input #Email formControlName="date" type="text" class="form-control" id="date" required placeholder="date" />
              <div *ngIf="f['date'].touched && f['date'].invalid" class="alert alert-danger">
                  <div *ngIf="f['date'].errors && f['date'].errors['required']">date is required.</div>
              </div>
          </div>
      </div>
      <button class="btn btn-primary btn-block btn-lg btn-signup" type="submit">Book</button>
      </form>
