<!-- <nav class="navbar navbar-dark navbar-expand-md bg-dark"> -->
  <!-- <nav class="navbar navbar-dark navbar-expand-md bg-dark"> -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-full" style="background-color: #796b52">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">A2Z-Book Your Movie🍿</a>
    <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav">

        <li [hidden]="user" class="nav-item">
          <a class="nav-link active" routerLink="/login">Login👤</a>
        </li>

        <li [hidden]="user" class="nav-item">
          <a class="nav-link active" routerLink="/signup">SignUp👥</a>
        </li>



        <li class="nav-item" *ngIf="userType === 'Customer'">
          <a class="nav-link active" routerLink="/customerDashboard">DashBoard🔓</a>
        </li>

        <li class="nav-item" *ngIf="userType === 'Admin'">
          <a class="nav-link active" routerLink="/adminDashboard">DashBoard🔓</a>
        </li>



        <li [hidden]="!user" class="nav-item">
          <a class="nav-link active" [routerLink]="['/viewProfile',id]">User Profile</a>
        </li>
        

        <li [hidden]="!user" class="nav-item">
          <a class="nav-link" (click)="Logout()">LogOut⛔</a>
        </li>
      </ul>
    </div>


    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active navbar_aboutus" routerLink="/aboutus">AboutUs🔗</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active navbar_contactus" routerLink="/contactus">ContactUs📞</a>
        </li>
      </ul>
    </div>
  </div>
</nav>