<nav class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">🎬Book Your Movie🎬</a>
    <button
      data-toggle="collapse"
      data-target="#navcol-1"
      class="navbar-toggler"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav">

        <li [hidden]="IsLoggedIn" class="nav-item">
          <a class="nav-link active" >DASHBOARD🔐</a>  
        </li>

        <li [hidden]="IsLoggedIn" class="nav-item">
          <a class="nav-link active" routerLink="/login">LOGIN👤</a>
        </li>

        <li [hidden]="IsLoggedIn" class="nav-item">
          <a class="nav-link active" routerLink="/signup">SIGNUP👥</a>
        </li>

        <li [hidden]="!IsLoggedIn" class="nav-item">
          <a class="nav-link active" routerLink="/customerDashboard">DASHBOARD🔓</a>  
        </li>

        

       

        <li [hidden]="!IsLoggedIn" class="nav-item">
          <a class="nav-link active" routerLink="/viewProfile/{{id}}">USER PROFILE🪪</a>
        </li>

        <li [hidden]="!IsLoggedIn" class="nav-item">
          <a class="nav-link" (click)="Logout()">LOGOUT⛔</a>
        </li>      
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li  class="nav-item">
          <a class="nav-link active navbar_aboutus" routerLink="/aboutus">AboutUs🔗</a>
        </li>   
        <li  class="nav-item">
          <a class="nav-link active navbar_contactus" routerLink="/contactus">ContactUs📞</a>
        </li>    
      </ul>		  
    </div>
  </div>
</nav>
