<div class ="heading" style="text-align: center;
margin: 2%;">
    <h1 >
        About Us
    </h1>
    <i><p style="margin-top: 2%;">Happy with Every Moment....</p></i>
    <i > Enjoy the show...</i>
        
</div>
<section class="about-us" style="text-align: center;
margin: 2%;">
    <img src="assets/img/aboutus.png" style="height: 180px;
    width:180px">
    <div class="content">
        <h5 style="text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 2%;">
            SaveUrShow is the most trusted online movie booking management websites which help the user to get whatever they're wanted to watch movie . 
            This online ticket booking website opens the menu of all the movies available in all places and they can book their ticket 
            of the user choice based on the theatre location movie and etc...
            <br>
             The best thing about this online booking movie ticket website is that the user can book many times of their choice.
    </h5>
    </div>
</section>