<style>
    h1{
        text-align:center;
    }
    </style>
    <h1 style="margin:3%">Contact Us</h1>
    <div class="container" style="margin: 13%;">
        <div class="row justify-content-around">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Jublie Hills<br/>
                        115 N.Vasanthi St.<br/>
                        Hyderabad,MD 535003<br/>
                </p>
                    </div>
                </div>
           
            <div class="box">
                <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" style="color: black;">SaveUrShow@gmail.com</a>
                    </div>
                </div>
           
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <a href="https://web.whatsapp.com/" style="color: black;">+91-9703325579</a>
                    </div>
                </div>
            
        </div>
    </div>
    
    