<div class="login-card" style="background-color:rgb(77, 77, 77);
 box-shadow: 10px 10px 5px 5px rgb(109, 102, 107);">
  <img class="profile-img-card"
    src="https://th.bing.com/th/id/OIP.vz1Fai2gS_8gfDLz3_v6yQHaHa?pid=ImgDet&w=208&h=208&c=7&dpr=1.5" />

  <p class="profile-name-card"></p>
  <form class="form-signin">
    <span class="reauth-email"></span>
    <input #Email type="email" class="form-control" id="inputEmail" required placeholder="Email Address ✉️" autofocus />
    
    <input #PWD type="password" class="form-control" id="inputPassword" required placeholder="Password 🔑" />

    <button class="btn btn-primary btn-block btn-lg btn-signin" (click)="Login(Email.value, PWD.value)">
      Sign in
    </button>


  </form>
  <a class="forgot-password" routerLink="/signup">Click To Register ‼️</a>
</div>

<!-- <style></style> -->