
<div class="container">
    <h1>View Movie details</h1>
  
    <a href="#" routerLink="/movieIndex" class="btn btn-primary">Back</a>
   
    <div>
        <strong>MovieId:</strong>
        <p>{{ data.movieId }}</p>
    </div>
   
    <div>
        <strong>Location:</strong>
        <p>{{ data.location }}</p>
    </div>
   
    <div>
        <strong>Theatrename:</strong>
        <p>{{ data.theatrename}}</p>
    </div>

    <div>
        <strong>Moviename:</strong>
        <p>{{ data.moviename}}</p>
    </div>
   
    <div>
        <strong>MovieLink:</strong>
        <p>{{ data.movieLink}}</p>
    </div>
   
    <div>
        <strong>Slot:</strong>
        <p>{{ data.slot}}</p>
    </div>
   
    <div>
        <strong>Charges:</strong>
        <p>{{ data.charges}}</p>
    </div>
   
    <div>
        <strong>Date:</strong>
        <p>{{ data.date}}</p>
    </div>
   
   
</div>