<div class="jumbotron shadow-sm hero-technology" style="background-color: white;">
    
    <h5>
        <marquee style="color:rgb(237, 13, 13)" direction="right" height="100px" scrollamount="8">
            Welcome To "A2Z Movie Ticket Booking" <br>
            Book Your Fav Movies On A2Z Ticket Booking...!!!
            </marquee>
            

            <marquee style="color:rgb(131, 61, 237)" width="0%" direction="right" height="0px">
                This is a sample scrolling text that has scrolls texts to the right.
                </marquee>
    </h5>
        <br>
    <div style="padding-left: 34%;">
        <h1 style="color:rgb(255, 255, 255)" class="hero-title"> <h2>Book Your Movie Tickets 😎...!! </h2></h1></div> 
    <br><br>
    <div style="padding-left: 38%;">
        <p style="color:rgb(255, 255, 255)" class="hero-subtitle">Book Your Movie Ticket</p>
    </div>
    <br>
    <br>
    <p style="padding-left: 47%;"><a class="btn btn-primary btn-lg hero-button" role="button" href="#"
        routerLink="/login">Login</a></p>
</div>
